* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
body {
  background-image: url("sailor-moon.jpg");
  background-repeat: repeat;

  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid rgb(0, 0, 0);
  line-height: 2px;
  padding: 15px;
}

.jumbotron {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
  background-color: rgb(30, 8, 44);
  color: white;
  border-radius: 10px;
  border-bottom: 10px solid black;
}
.lead {
  font-size: medium;
}
.task {
  white-space: pre-wrap;
}

.time-block {

  text-align: center;
  border-radius: 15px;
}
.row {
  text-align: left;
  white-space: pre-wrap;
  height: 87px;
  border-top: 1px solid white;
  background-color: rgb(245, 218, 234);
  border-radius: 10px;
}

.hour {
  font-weight: bolder;
  background-color: transparent;
  color: #000000;
  border-right-style: thin;
  line-height: 3px;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.past {
  background-color: #c7c7c6;
  color: white;
}

.present {
  background-color: rgb(252, 176, 227);
  color: white;
}

.future {
  background-color: #f349c0;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(252, 195, 203);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.fa-cloud-moon {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  padding: 15px;
}